<%= image_tag "text.gif" %>

<div class="flight-list-style" >

<h1>Editing User</h1>

<%= render 'form' %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
<div class="flight-list-style" >
