<h1>Sign Up</h1>

<% if @user.errors.any? %>
<ol>
  <% @user.errors.full_messages.each do |msg| %>
  <li class="errorMsg"><%=  msg %></li>
  <% end %>
</ol>
<% end %>

<div class="flight-list-style">
<%= render "form" %>
</div>
