<div class="flight-list-style">
  <h2>Frequently Asked Questions</h2>
  <p class="question">That was the best flight ever! What should I do about it?</p>
  <p>
    Spread the word. BurningAirlines is here to help you "safely" fly from one
    place to another. We are passionate about serving our customers. You can
    share us on facebook or twitter or any other social media network.
   </p>
  <p class="question">How do I book my flight?</p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed quae ipsum
    similique delectus deserunt nam ipsam quisquam eveniet asperiores illo nulla
     aliquid doloribus possimus corrupti quas voluptatibus vero, nihil et?
   </p>
   <p class="question">How do I make payments?</p>
   <p>
     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed quae ipsum
     similique delectus deserunt nam ipsam quisquam eveniet asperiores illo nulla
      aliquid doloribus possimus corrupti quas voluptatibus vero, nihil et?
    </p>
    <p class="question">Is BurningAirlines reliable?</p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed quae ipsum
      similique delectus deserunt nam ipsam quisquam eveniet asperiores illo nulla
       aliquid doloribus possimus corrupti quas voluptatibus vero, nihil et?
     </p>
</div>
