<div id="container">
<div id="main"></div>


<script>
      var app = app || {};
      app.current_user = <%= @current_user.to_json.html_safe %>;
</script>

<script type="text/template" id='appViewTemplate'>
      <!-- <h1>Burning Airlines</h1> -->
      <img src="/assets/text.gif" alt="flaming">


      <!-- we need a search page where user can select origin, destination and date -->
      <form action="" id="searchForm">
      <label for="originfield">Origin:</label>
      <select id="originfield">
       <option value="" selected disabled>select</option>
        <option>London</option>
        <option>Los Angeles</option>
        <option>Sydney</option>
      </select>

      <label for="destinationfield">Destination:</label>
      <select id="destinationfield">
       <option value="" selected disabled>select</option>
        <option>London</option>
        <option>Los Angeles</option>
        <option>Sydney</option>
      </select>

      <label for="datefield">Date:</label>
      <input type="date" id="datefield">

      <button id="searchSubmit">Search</button>

      </form>


      <ul id="flight-list" class="flight-list-style"></ul>

</script>

<script type="text/template" id='flightViewTemplate'>
      <!-- <h1>Burning Airlines 2</h1> -->
      <img src="/assets/text.gif" alt="flaming">
      <p>Origin: <%%= origin.name %></p>
      <p>Destination: <%%= destination.name %></p>
      <p>Date: <%%= date_time %></p>
      <p></p>
      <p>Please select a seat.</p>

      <div id="seats"></div>
      <button id='confirm-seat-btn'>Proceed</button>

</script>

<script type="text/template" id='reservationViewTemplate'>
      <!-- <h1>Burning Airlines 3</h1> -->
      <img src="/assets/text.gif" alt="flaming">

      <p>Seat: <%%= seat %></p>
      <p>Date: <span id="flight-date"></p>
      <p>Flight Number: <span id="flight-number"></span></p>
      <p>Origin: <span id="origin-result"></span></p>
      <p>Destination: <span id="destination-result"></span></p>
      <p>Passenger's Email: <%%= app.current_user.email %></p>
      <button id="confirm-reservation">Confirm Booking</button>



</script>
</div>
