body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

li span {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

.navbar-header {
  margin-right: 20px;

}

// li {
//   color: white;
// }

  // ul li {
  //   color: white;
  //   font-size: 12px;
  //   list-style: square;
  // }
}

nav ul {
  height: 100%;
  li, span, a {
    height: 100%;
    line-height: normal;
    display: inline-block;
    padding: 0;
    line-height: 65px;
  }
}

.question {
  color: white;
}

.navbar-inverse {
  background-color: rgba(47, 162, 218, 0.5);
  border-color: rgba(47, 162, 218, 0.1);
}

.navbar-nav a {
    font-size: 20px;
    font-family: helvetica;
}

.navbar a:hover {
    text-decoration: none;
    background-color: none;
    color: white;
    background: none;
}

.navbar span:hover a {
  color: white;
}

.navbar-nav > li > a {
    padding-top: 22px;
    padding-bottom: 15px;
}

.navbar-nav > li:hover {
  color: #fff;
  background-color: rgba(47, 162, 218, 0.8);
  -webkit-box-shadow: -1px 0px 30px 6px rgba(0,0,0,0.20);
  -moz-box-shadow: -1px 0px 30px 6px rgba(0,0,0,0.20);
  box-shadow: -1px 0px 30px 6px rgba(0,0,0,0.20);
}


.panel {
    margin: 0 auto;
    width: 400px;
    margin-bottom: 20px;
    background-color: rgba(47, 162, 218, 0.8);
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-default > .panel-heading {
    color: #333333;
    background-color: rgba(47, 162, 218, 0.8);
    border-color: rgba(47, 162, 218, 0.8);


}
